@inject ActivityTypeTranslator ActivityTypeTranslator

@if (Activity is not null)
{
    <div class="activity-card px-3 py-2 d-flex flex-row flex-wrap">
        <div class="activity-card-content pb-1 d-flex flex-column">
            <div class="activity-card-header mb-2 d-flex flex-row align-items-center flex-wrap-reverse row-gap-1">
                <span class="activity-time">@ActivityTime</span>
                <div class="d-flex flex-row align-items-end ms-auto strava-link column-gap-1">
                    <a target="_blank" href="https://www.strava.com/activities/@Activity.StravaId">@Loc["ViewOnStrava"]</a>
                    <i class="bi bi-box-arrow-up-right pb-1" aria-hidden="true"></i>
                </div>
            </div>

            <div class="d-flex align-items-center flex-row column-gap-2 athlete-name-container me-1">
                <Avatar Url="@Activity.Athlete?.ImgUrl" Size="40" />
                <span class="athlete-name">@Activity.Athlete?.Name</span>
            </div>

            <div class="activity-card-body d-flex flex-column row-gap-2">
                <div class="d-flex justify-content-between">
                    <span class="badge bg-primary">@ActivityTypeTranslator.Translate(Activity.Details.Type)</span>
                    <span class="device-name">@Activity.Details.DeviceName</span>
                </div>
                <span class="activity-name">@Activity.Details.Name</span>
                <span class="activity-description">@Activity.Details.Description</span>
                <div class="d-flex flex-row column-gap-4">
                    <span>@Time</span>
                    <span>@Stats</span>
                </div>
            </div>
        </div>
    </div>
}
