@if (Activity is not null)
{
    <li class="list-group-item">
        <div class="activity-card">
            <Avatar Url="@Activity.Athlete?.ImgUrl" Size="50" />
            <div class="activity-card-content">
                <div class="activity-card-header">
                    <h5 class="athlete-name">@Activity.Athlete?.Name</h5>
                    <p class="activity-time">@ActivityTime</p>
                </div>
                <div class="activity-card-body">
                    <h4 class="activity-title">
                        @Activity.Details.Name - @Stats - <a target="_blank" href="https://www.strava.com/activities/@Activity.StravaId">View on Strava</a> <span class="oi oi-external-link" style="font-size: 0.6rem;" />
                    </h4>
                    <p class="activity-description">@Activity.Details.Description</p>
                </div>
            </div>
        </div>
    </li>
}
