@if (Challenge != null)
{
    <div class="challenge-card d-flex flex-column" @onclick="ToggleScoreBoard">
    @if (ShowScoreBoard && ScoreBoard != null)
        {
            <div class="card-header d-flex align-items-center cg-2">
                <h5>@Challenge.Title</h5>
            </div>
            <ul class="list-group list-group-flush list-group-numbered overflow-auto" style="max-height: 14rem">
        @foreach (AthleteScore score in ScoreBoard.Scores)
                {
                    <li class="list-group-item d-flex justify-content-between">
                        <span>@score.Name</span>
                        <span class="score">@score.Score</span>
                    </li>
                }

                @if (ScoreBoard.Scores.Count == 0)
                {
                    <li class="list-group-item">YOU! (if you join)</li>
                }
            </ul>
        }
        else
        {
            <div class="card-header d-flex flex-column justify-content-between">
                <div>
                    <div class="d-flex justify-content-between">
                        <h5>@Challenge.Title</h5>

                        @if (Challenge.CreatedById == AthleteId)
                        {
                            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" @onclick:stopPropagation="true"></button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="challenges/@Challenge.Id/edit">Edit</a></li>
                                <li><a class="dropdown-item" @onclick="DeleteChallenge" @onclick:stopPropagation="true">Delete</a></li>
                            </ul>
                        }

                        </div>
                    </div>
                    <p class="challenge-description">@Challenge.Description</p>
                </div>
        
                <div class="challenge-properties d-flex flex-column justify-content-between mb-3">
                    <span><i class="bi bi-calendar-week me-1" aria-hidden="true" /> @Challenge.Start.ToString("MMM d") -
                        @Challenge.End.ToString("MMM d")</span>
                    <span><i class="bi @GetIconForMeasurement() me-1" aria-hidden="true" /> @Challenge.Measurement</span>
                    <span><i class="bi bi-people-fill me-1" aria-hidden="true" /> @Challenge.Athletes?.Count @(Challenge.Athletes?.Count == 1 ? "participant" : "participants")</span>
                </div>

                <div class="d-flex flex-wrap cg-1 rg-1 mb-4">
                    @if (Challenge.ActivityTypes.Length > 0)
                    {
                        foreach (Strava.ActivityType type in Challenge.ActivityTypes)
                        {
                            <span class="badge bg-primary">@ActivityTypeExt.ToString(type)</span>
                        }
                    }
                    else
                    {
                        <span class="badge bg-primary">All activities</span>
                    }
                </div>

                @if (HasJoined == false)
                {
                    <button class="btn btn-primary mt-auto" @onclick="JoinChallenge" @onclick:stopPropagation="true">
                        <i class="bi bi-box-arrow-in-right me-2" aria-hidden="true" /> 
                        <span>Join</span>
                    </button>
                }
                else if (HasJoined == true)
                {
                    <button class="btn btn-secondary mt-auto" @onclick="LeaveChallenge" @onclick:stopPropagation="true">
                        <i class="bi bi-box-arrow-left me-2" aria-hidden="true" /> 
                        <span>Leave</span>
                    </button>
                }
        }
    </div>
}
