@if (Challenge != null)
{
    <div class="card challenge-card" @onclick="ToggleScoreBoard">
        @if (ShowScoreBoard && ScoreBoard != null)
        {
            <div class="card-header @HeaderStyle d-flex align-items-center cg-2">
                <p class="challenge-title mb-0">@Challenge.Title</p>
            </div>
            <ul class="list-group list-group-flush list-group-numbered overflow-auto" style="max-height: 14rem">
                @foreach (AthleteScore score in ScoreBoard.Scores)
                {
                    <li class="list-group-item d-flex justify-content-between">
                        <h6>@score.Name</h6>
                        <span class="score">@score.Score</span>
                    </li>
                }

                @if (ScoreBoard.Scores.Count == 0)
                {
                    <li class="list-group-item">YOU! (if you join)</li>
                }
            </ul>
        }
        else
        {
            <div class="card-header @HeaderStyle d-flex justify-content-between">
                <span>@Challenge.Measurement</span>
                <span>@Challenge.Start.ToString("MMM")-@Challenge.End.ToString("MMM")</span>
            </div>
            <div class="card-body d-flex flex-column justify-content-between rg-2">
                <div>
                    <h5 class="card-title">@Challenge.Title</h5>
                    <p class="card-text">@Challenge.Description</p>
                </div>

                <div class="d-flex flex-wrap cg-1 rg-1">
                    @if (Challenge.ActivityTypes.Length > 0)
                    {
                        foreach (Strava.ActivityType type in Challenge.ActivityTypes)
                        {
                            <span class="badge bg-primary">@ActivityTypeExt.ToString(type)</span>
                        }
                    }
                    else
                    {
                        <span class="badge bg-primary">All activities</span>
                    }
                </div>

                <p class="card-text">@Challenge.Athletes?.Count participants</p>

                @if (HasJoined == false)
                {
                    <button class="btn btn-primary" @onclick="JoinChallenge" @onclick:stopPropagation="true">
                        <span class="oi oi-heart" aria-hidden="true" />
                        Join
                    </button>
                }
                else if (HasJoined == true)
                {
                    <button class="btn btn-secondary" @onclick="LeaveChallenge" @onclick:stopPropagation="true">
                        <span class="oi oi-account-logout" aria-hidden="true" />
                        Leave
                    </button>
                }

                @if (Challenge.CreatedById == AthleteId)
                {
                    <div class="d-flex cg-2">
                        <a class="btn btn-sm btn-secondary flex-fill" href="challenges/@Challenge.Id/edit">
                            <span class="oi oi-pencil" aria-hidden="true" />
                            Edit
                        </a>
                        <button class="btn btn-sm btn-danger flex-fill" @onclick="DeleteChallenge" @onclick:stopPropagation="true">
                            <span class="oi oi-trash" aria-hidden="true" />
                            Delete
                        </button>
                    </div>
                }
            </div>
        }
    </div>
}
