<EditForm FormName="challenge" method="post" Model="@Challenge" OnValidSubmit="SubmitForm">
    <div class="form-row mb-2">
        <label>Title:
            <InputText @bind-Value="@Challenge.Title" size="50" class="form-control" />
        </label>
    </div>
    <div class="form-row mb-2">
        <label>Description:
            <InputTextArea @bind-Value="@Challenge.Description" cols="50" rows="4" class="form-control" />
        </label>
    </div>
    <div class="form-row mb-2">
        <label>Start:
            <InputDate @bind-Value="@Challenge.Start" Type="InputDateType.Date"
                max="@Challenge.End.ToString("yyyy-MM-dd")" class="form-control" />
        </label>
        <label>End:
            <InputDate @bind-Value="@Challenge.End" Type="InputDateType.Date"
                min="@Challenge.Start.ToString("yyyy-MM-dd")" class="form-control" />
        </label>
    </div>
    <div class="form-row mb-2">
        <InputRadioGroup @bind-Value="@Challenge.Measurement">
            @foreach (var measurement in Enum.GetValues<ChallengeMeasurement>())
            {
                <div class="form-check form-check-inline">
                    <label>@measurement: <InputRadio Value="@measurement" /></label>
                </div>
            }
        </InputRadioGroup>
    </div>
    <div class="form-row mb-2">
        <label>Private challenge <input @bind="Challenge.IsPrivate" class="form-check-input" type="checkbox" /></label>
    </div>
    <div class="form-row mb-2">
        <div class="d-flex cg-3">
            <div>
                <label>Activities:
                    <InputSelect @bind-Value="@Challenge.ActivityTypes" class="form-control" multiple style="height: 15rem;">
                        @foreach (var activityType in Enum.GetValues<Strava.ActivityType>())
                        {
                            <option value="@activityType">@ActivityTypeExt.ToString(activityType)</option>
                        }
                    </InputSelect>
                </label>

            </div>
            @if (Challenge.IsPrivate)
            {
                <div>
                    Athletes:
                    <Autocomplete SearchMethod="SearchAthletes" @bind-Values="Challenge.InvitedAthletes" MaximumSuggestions="MaximumSuggestions" EnableDropDown="true" placeholder="Search for athlete...">
                        <SelectedTemplate Context="athlete">@athlete.Name.Split(" ").First()</SelectedTemplate>
                        <ResultTemplate Context="athlete">@athlete.Name</ResultTemplate>
                        <NotFoundTemplate Context="athlete">No Athletes Found</NotFoundTemplate>
                    </Autocomplete>
                </div>
            }
        </div>
        <p class="d-flex flex-wrap mt-2 cg-1 rg-1">
            @if (Challenge.ActivityTypes.Length > 0)
            {
                @foreach (Strava.ActivityType type in Challenge.ActivityTypes)
                {
                    <span class="badge rounded-pill bg-primary">@ActivityTypeExt.ToString(type)</span>
                }
            }
            else
            {
                <span class="badge bg-primary">All activities</span>
            }
        </p>
    </div>

    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <button class="btn btn-primary" type="submit">@SubmitLabel</button>
        <button class="btn btn-secondary" type="button" @onclick="Cancel">@CancelLabel</button>
    </div>
</EditForm>
