<div class="d-flex flex-column align-items-start rg-3">
    <div class="d-flex flex-row cg-3">
        <InputRadioGroup @bind-Value="IsRandomEnabled" @bind-Value:after="OnRandomizationChanged">
            <InputRadio class="btn-check" id="disable-random" Value="false"/>
            <label class="btn btn-outline-success" for="disable-random">Disable randomization</label>

            <InputRadio class="btn-check" id="enable-random" Value="true"/>
            <label class="btn btn-outline-danger" for="enable-random">Enable randomization</label>
        </InputRadioGroup>
    </div>
    <button class="btn btn-primary" @onclick="AddActivity">Add activity</button>
    <button class="btn btn-primary" @onclick="AddLoadsOfActivities">Add loads of activities</button>
    <button class="btn btn-primary" @onclick="AddOthersActivity" disabled="@NoOtherAthletes">Add activity for others</button>
    <button class="btn btn-primary" @onclick="AddAthlete">Add athlete</button>
    <button class="btn btn-primary" @onclick="AddChallenge">Add challenge</button>
    <button class="btn btn-primary" @onclick="AddFollower">Add follower</button>
    <button class="btn btn-primary" @onclick="AcceptAllFollowerRequests">Accept all follower requests</button>
    <button class="btn btn-primary" @onclick="AddOthersChallenge" disabled="@NoOtherAthletes">Add challenge by others</button>
    <button class="btn btn-primary" @onclick="AddOthersPrivateChallenge" disabled="@NoOtherAthletes">Add private challenge by others</button>
    <button class="btn btn-primary" @onclick="AddOthersPrivateChallengeInvited" disabled="@NoOtherAthletes">Add private challenge by others where you're invited</button>
    <button class="btn btn-primary" @onclick="() => ImportAllAthletesActivities(1)" disabled="@NoOtherAthletes">Import last 24 hours of activities for ALL athletes</button>
    <button class="btn btn-primary" @onclick="() => ImportAllAthletesActivities(7)" disabled="@NoOtherAthletes">Import last 7 days of activities for ALL athletes</button>
    <button class="btn btn-primary" @onclick="() => ImportAllAthletesActivities(14)" disabled="@NoOtherAthletes">Import last 14 days of activities for ALL athletes</button>
    <div class="d-flex flex-row cg-3">
        <input class="form-control" type="text" @bind="ClearChallengeWinnerId" placeholder="Challenge ID" style="width:150px" />
        <button class="btn btn-primary" @onclick="ClearChallengeWinner">Clear challenge winner</button>
    </div>
</div>
