@page "/about"
@inject IConfiguration Configuration
@inject IStringLocalizer<About> Loc

<PageTitle>Tevling - @Loc["About"]</PageTitle>

<h1 class="title mb-5">@Loc["About"]</h1>

<h3 class="mb-3">@Loc["Attribution"]</h3>
<p>
    @Loc["Intro_1"]
    <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor" target="_blank">Blazor</a>, @Loc["Intro_2"]
    <ul>
        <li>
            <a href="https://docs.microsoft.com/ef/core/" target="_blank">Entity Framework Core</a>
            - <a href="https://github.com/dotnet/efcore/blob/main/LICENSE.txt" target="_blank">MIT license</a>
        </li>
        <li>
            <a href="https://github.com/Blazored/LocalStorage" target="_blank">Blazored.LocalStorage</a>
            - <a href="https://github.com/Blazored/LocalStorage/blob/main/LICENSE" target="_blank">MIT license</a>
        </li>
        <li>
            <a href="https://github.com/erossini/BlazorAutocomplete" target="_blank">PSC.Blazor.Components.AutoComplete</a>
            - <a href="https://github.com/erossini/BlazorAutocomplete/blob/main/LICENSE" target="_blank">GNU GPLv3</a>
        </li>
        <li>
            <a href="https://www.chartjs.org/" target="_blank">Chart.js</a>
            - <a href="https://github.com/chartjs/Chart.js/blob/master/LICENSE.md" target="_blank">MIT license</a>
        </li>
        <li>
            <a href="https://github.com/bchavez/Bogus" target="_blank">Bogus</a>
            - <a href="https://github.com/bchavez/Bogus/blob/master/LICENSE" target="_blank">MIT license</a>
        </li>
        <li>
            <a href="https://www.flaticon.com/free-icons/arm-wrestling" title="arm wrestling icons">Arm wrestling icons created by Freepik - Flaticon</a>
        </li>
    </ul>
</p>

<h3 class="mb-3 mt-5">@Loc["Strava_title"]</h3>
<p>
    @(new MarkupString(Loc["Strava_body"]))
</p>
<p style="font-size: 0.85rem">
    @(new MarkupString(Loc["PublicActivities"]))
</p>

<h3 class="mb-3 mt-5">@Loc["Disclamer_title"]</h3>
<p>
    @Loc["Disclamer_body"]
</p>


<h3 class="mb-3 mt-5">@Loc["License_title"]</h3>
<p>
    @Loc["License_body"]
    <a href="https://github.com/veloek/tevling">GitHub</a>.
</p>

<h3 class="mb-3 mt-5">@Loc["Version"]</h3>
<p>
    @Configuration["APP_VERSION"]
</p>


<h3 class="mb-3 mt-5">@Loc["Copyright"]</h3>
<Copyright />
