@page "/activities"
@inject IStringLocalizer<Activities> Loc


<PageTitle>Tevling - @Loc["Activities"]</PageTitle>

<h1 class="mb-3 title">@Loc["Activities"]</h1>

<div class="d-flex column-gap-3 mb-3 flex-wrap-reverse flex-row">
    <div class="activities" style="width:100%">
        @{
            int step = 0;
        }
        @foreach (Activity activity in ActivityList)
        {
            if (activity.Details.StartDate.IsSameDateUtc())
            {
                if (step == 0)
                {
                    <h3 class="mb-3 mt-4">@Loc["Today"]</h3>
                    step = 1;
                }
            }
            else if (activity.Details.StartDate.IsYesterdayUtc())
            {
                if (step <= 1)
                {
                    <h3 class="mb-3 mt-4">@Loc["Yesterday"]</h3>
                    step = 2;
                }
            }
            else if (activity.Details.StartDate.IsSameWeekStartingOnMondayUtc())
            {
                if (step <= 2)
                {
                    <h3 class="mb-3 mt-4">@Loc["ThisWeek"]</h3>
                    step = 3;
                }
            }
            else if (activity.Details.StartDate.IsLastWeekStartingOnMondayUtc())
            {
                if (step <= 3)
                {
                    <h3 class="mb-3 mt-4">@Loc["LastWeek"]</h3>
                    step = 4;
                }
            }
            else if (activity.Details.StartDate.IsSameMonthUtc())
            {
                if (step <= 4)
                {
                    <h3 class="mb-3 mt-4">@Loc["ThisMonth"]</h3>
                    step = 5;
                }
            }
            else if (activity.Details.StartDate.IsLastMonthUtc())
            {
                if (step <= 5)
                {
                    <h3 class="mb-3 mt-4">@Loc["LastMonth"]</h3>
                    step = 6;
                }
            }
            else if (activity.Details.StartDate.IsSameYearUtc())
            {
                if (step <= 6)
                {
                    <h3 class="mb-3 mt-4">@Loc["ThisYear"]</h3>
                    step = 7;
                }
            }
            else if (step <= 7)
            {
                <h3 class="mb-3 mt-4">@Loc["Older"]</h3>
                step = 8;
            }

            <ActivityCard Activity="activity"></ActivityCard>
        }

        @if (ActivityList.Length == 0 && !Reloading)
        {
            <h4>@Loc["Welcome"]!</h4>
            <p>
                @(new MarkupString(Loc["NoActivitiesYet"]))
            </p>
        }
        <InfiniteScrollingMarker LoadMore="LoadMore" HasMore="HasMore">
            <LoadingTemplate>@Loc["Loading"]...</LoadingTemplate>
        </InfiniteScrollingMarker>
    </div>

    <div class="d-flex flex-column rg-3 activities-filters mb-4 mt-5">
        <h2>@Loc["Filters"]</h2>
        <label class="mb-2">
            <input class="form-check-input me-1" type="checkbox" @bind-value="ShowOnlyMine" />
            @Loc["ShowOnlyMy"]
        </label>
    </div>
</div>
