@page "/"
@page "/dashboard"

<PageTitle>Tevling - @Loc["Dashboard"]</PageTitle>

<h1 class="mb-5">@Greeting</h1>
<div class="d-flex flex-column active-challenges mb-5">
    <h3 class="mb-4">@Loc["ActiveChallenges"]</h3>
    @if (!ActiveChallenges.Any())
    {
        <span>@Loc["NoActiveChallenges"]</span>
    }
    else
    {
        @foreach (KeyValuePair<Challenge, (string, string)> challenge in ActiveChallenges)
        {
            <JoinedChallengeCard
                Title="@challenge.Key.Title"
                Placement="@challenge.Value.Item1"
                Score="@challenge.Value.Item2"
            />
        }
    }
</div>

<div class="d-flex flex-column recent-outdated-challenges mb-5">
    <h3 class="mb-4">@Loc["CompletedChallenges"]</h3>
    @if (!RecentOutdatedChallenges.Any())
    {
        <span>@Loc["NoCompletedChallenges"]</span>
    }
    else
    {
        @foreach (KeyValuePair<Challenge, (string, string)> challenge in RecentOutdatedChallenges)
        {
            <JoinedChallengeCard
                Title="@challenge.Key.Title"
                Placement="@challenge.Value.Item1"
                Score="@challenge.Value.Item2"
            />
        }
    }
</div>

<div class="d-flex flex-column suggested-athletes mb-5 row-gap-3">
    <h3 class="mb-4">@Loc["SuggestedAthletes"]</h3>
    @if (!SuggestedAthletes.Any())
    {
        <span>@Loc["FollowMore"]</span>
    }
    else
    {
        @foreach (Athlete? athlete in SuggestedAthletes)
        {
            <AthleteCard Athlete="@athlete"
                         IsFollowing="@Athlete.IsFollowing(athlete.Id)"
                         IsPendingFollowing="@Athlete.IsPendingFollowing(athlete.Id)"
                         FollowingStatusChanged="() => ToggleFollowing(athlete.Id)"/>
        }
    }
</div>
