@page "/challenges/{id:int}/edit"
@inject IStringLocalizer<EditChallenge> Loc

<PageTitle>Tevling - @Loc["EditChallenge"]</PageTitle>

@if (Challenge != null)
{
    <h1 class="title mb-5">@Loc["EditChallenge"]: @Challenge.Title</h1>

    <ChallengeForm EditChallenge="@Challenge" SubmitLabel="@Loc["Edit"]" CancelLabel="@Loc["Cancel"]" OnSubmitAsync="OnSubmit" OnCancelAsync="OnCancel" />
}
else
{
    <p class="error">404 - @string.Format(Loc["NotFound"], Id)</p>
}
