@page "/login"
@layout LoginLayout
@attribute [AllowAnonymous]

<PageTitle>Tevling - Login</PageTitle>

<section class="tevling-login">
    <h1 class="login-title">Tevling</h1>
    <p class="login-subtitle">«Bring it on»</p>
    <div class="tevling-logo">
        <img src="arm-wrestling.png" width="256" alt="logo" />
    </div>
    <form action="@StravaConfig.Value.AuthorizeUri" method="get">
        <button class="strava-login" type="submit">Connect with Strava</button>
        <input type="hidden" name="client_id" value="@StravaConfig.Value.ClientId" />
        <input type="hidden" name="redirect_uri" value="@RedirectUri" />
        <input type="hidden" name="response_type" value="@StravaConfig.Value.ResponseType" />
        <input type="hidden" name="approval_prompt" value="@StravaConfig.Value.ApprovalPrompt" />
        <input type="hidden" name="scope" value="@StravaConfig.Value.Scope" />
    </form>
    <Copyright />
    <p class="privacy-policy mt-0">
        By logging in you agree to Tevling's <a href="/privacy" target="_blank">privacy policy</a>.
    </p>
</section>
