@page "/athletes/{AthleteToViewId:int}"
@using Tevling.Strava
@inject ActivityTypeTranslator ActivityTypeTranslator


@if (AthleteToView != null)
{
    <h1 class="title mb-5">@Loc["PublicProfile"]</h1>
    <div class="profile d-flex flex-row column-gap-2 mb-5">
        <Avatar Url="@AthleteToView.ImgUrl" Size="50"/>
        <div class="d-flex flex-column">
            <span class="public-profile-name">@AthleteToView.Name</span>
            <span class="public-profile-details">@string.Format(Loc["MemberSince"], @CreatedTime)</span>
            <div class="d-flex">
                <span class="public-profile-details">@Loc["Medals"]:</span>
                <span class="public-profile-details" style="padding-left: 1em">@AthleteMedals.GetFirst()</span>
                <span class="public-profile-details">@AthleteMedals.GetSecond()</span>
                <span class="public-profile-details">@AthleteMedals.GetThird()</span>
            </div>
            <div class="d-flex flex-row align-items-center strava-link column-gap-1">
                <a target="_blank" href="https://www.strava.com/athletes/@Athlete.StravaId">@Loc["ViewOnStrava"]</a>
                <i class="bi pb-1 bi-box-arrow-up-right align-self-start" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    if (AthleteStats is not null)
    {
        <div class="athlete-stats">
            <h3 class="mb-4">@Loc["Stats"]</h3>
            @if (Athlete.IsFollowing(AthleteToViewId) || Athlete.Id == AthleteToViewId)
            {
                @if (AthleteStats.MostPopularActivity is not null)
                {
                    <StatsCard Stat="@(Loc["MostPopularActivity"] + ":")"
                               Value="@ActivityTypeTranslator.Translate((ActivityType)AthleteStats.MostPopularActivity)"
                               AdditionalValueClass="badge bg-primary">
                    </StatsCard>
                }

                @if (AthleteStats.LongestRun is not null)
                {
                    <StatsCard Stat="@(Loc["LongestRun"] + ":")" Value="@(AthleteStats.LongestRun + " km")"></StatsCard>
                }

                @if (AthleteStats.LongestRide is not null)
                {
                    <StatsCard Stat="@(Loc["LongestRide"] + ":")"
                               Value="@(AthleteStats.LongestRide + " km")"></StatsCard>
                }

                @if (AthleteStats.LongestWalk is not null)
                {
                    <StatsCard Stat="@(Loc["LongestWalk"] + ":")"
                               Value="@(AthleteStats.LongestWalk + " km")"></StatsCard>
                }

                @if (AthleteStats.LongestActivity is not null)
                {
                    <StatsCard Stat="@(Loc["LongestActivity"] + ":")"
                               Value="@(AthleteStats.LongestActivity + " h")"></StatsCard>
                }

                @if (AthleteStats.BiggestClimb is not null)
                {
                    <StatsCard Stat="@(Loc["BiggestClimb"] + ":")"
                               Value="@(AthleteStats.BiggestClimb + " m")"></StatsCard>
                }

                @if (AthleteStats.NumberOfActivitiesLogged is not null)
                {
                    <StatsCard Stat="@(Loc["ActivitiesLogged"] + ":")"
                               Value="@(AthleteStats.NumberOfActivitiesLogged.ToString())"></StatsCard>
                }
            }
            else
            {
                <span>@string.Format(Loc["MustFollow"], AthleteToView.Name, Loc["StatsSmall"])</span>
            }
        </div>
    }

    <div class="d-flex flex-row flex-wrap">
        <div class="public-profile-info d-flex flex-column row-gap-5">
            <div class="active-challenges mb-3">
                <h3 class="mb-4">@Loc["ActiveChallenges"]</h3>
                @if (Athlete.IsFollowing(AthleteToViewId) || Athlete.Id == AthleteToViewId)
                {
                    @if (!ActiveChallenges.Any())
                    {
                        <span>@Loc["NoActiveChallenges"]</span>
                    }
                    else
                    {
                        @foreach (KeyValuePair<string, (string, string)> challenge in ActiveChallenges)
                        {
                            <JoinedChallengeCard
                                Title="@challenge.Key"
                                Placement="@challenge.Value.Item1"
                                Score="@challenge.Value.Item2"/>
                        }
                    }
                }
                else
                {
                    <span>@string.Format(Loc["MustFollow"], AthleteToView.Name, Loc["ActiveChallenges"])</span>
                }
            </div>
            <div class="followers mb-3">
                <h2 class="mb-3">@Loc["Followers"]</h2>
                @if (Athlete.IsFollowing(AthleteToViewId) || Athlete.Id == AthleteToViewId)
                {
                    @if (AthleteToView.Followers?.Count == 0 || AthleteToView.Followers is null)
                    {
                        <span>@Loc["NoFollowers"]</span>
                    }
                    else
                    {
                        <div class="d-flex flex-column row-gap-3">

                            @foreach (Athlete? follower in AthleteToView.Followers)
                            {
                                <AthleteCard Athlete="@follower"
                                             IsFollowing="Athlete.IsFollowing(follower.Id)"
                                             FollowingStatusChanged="() => ToggleFollowing(follower.Id)"
                                             IsFollower="@Athlete.IsFollower(follower.Id)"
                                             IsPendingFollowing="@Athlete.IsPendingFollowing(follower.Id)"
                                             IsYou="Athlete.Id == follower.Id"
                                             RemoveFollower="() => RemoveFollower(follower.Id)"/>
                            }
                        </div>
                    }
                }
                else
                {
                    <span>@string.Format(Loc["MustFollow"], AthleteToView.Name, Loc["Followers"])</span>
                }
            </div>

            <div class="following mb-3">
                <h2 class="mb-3">@Loc["Following"]</h2>

                @if (Athlete.IsFollowing(AthleteToViewId) || Athlete.Id == AthleteToViewId)
                {
                    @if (AthleteToView.Following?.Count == 0 || AthleteToView.Following is null)
                    {
                        <span>@AthleteToView.Name does not follow anybody</span>
                    }
                    else
                    {
                        <div class="d-flex flex-column row-gap-3">
                            @foreach (Athlete? following in AthleteToView.Following)
                            {
                                <AthleteCard Athlete="@following"
                                             IsFollowing="true"
                                             IsYou="Athlete.Id == following.Id"
                                             FollowingStatusChanged="() => ToggleFollowing(following.Id)"/>
                            }
                        </div>
                    }
                }
                else
                {
                    <span>@string.Format(Loc["MustFollow"], AthleteToView.Name, Loc["Following"])</span>
                }

            </div>
        </div>
    </div>
}
else
{
    <p class="error">404 - @string.Format(Loc["NotFound"], AthleteToViewId)</p>
}
