@page "/Statistics"
<PageTitle>Tevling - Statistics</PageTitle>

<h1 class="title mb-5">Statistics</h1>

<label>Months:</label>
<InputSelect @bind-Value="@NumberOfMonthsToReview" @oninput="DrawChart" class="mb-2">
    @for (int i = 3; i <= 36; i+=3)
    {
        <option value="@i">@i</option>
    }
</InputSelect>
<ButtonGroup
    Items="Enum.GetValues<ChallengeMeasurement>()"
    T="ChallengeMeasurement"
    @bind-SelectedItem="Measurement"
    OnButtonSelected="@DrawChart">
</ButtonGroup>

<div class="d-flex flex-wrap p-2">
    <canvas id="TheChart"></canvas>
</div>

<h2 class="title mb-5">Summary</h2>
<p>The last <b>@NumberOfMonthsToReview</b> month(s) you've:</p>

@switch (Measurement)
{
    case ChallengeMeasurement.Distance:
        @foreach (KeyValuePair<string, float[]> kvp in Distances)
        {
            <p>- Traversed <b>@Math.Round(kvp.Value.Sum(), 1)</b>km by @kvp.Key</p>
        }

        <p>A total of <b>@Math.Round(Distances.Sum(kvp => kvp.Value.Sum()), 1)</b>km</p>
        break;
    case ChallengeMeasurement.Elevation:
        @foreach (KeyValuePair<string, float[]> kvp in Elevations)
        {
            <p>- Ascended <b>@Math.Round(kvp.Value.Sum(), 1)</b>m by @kvp.Key</p>
        }

        <p>A total of <b>@Math.Round(Elevations.Sum(kvp => kvp.Value.Sum()), 1)</b>m</p>
        break;
    case ChallengeMeasurement.Time:
        @foreach (KeyValuePair<string, float[]> kvp in Durations)
        {
            <p>- Spent <b>@Math.Round(kvp.Value.Sum(), 1)</b> hours on @kvp.Key</p>
        }

        <p>A total of <b>@Math.Round(Durations.Sum(kvp => kvp.Value.Sum()), 1)</b> hours</p>
        break;
    default:
            throw new ArgumentOutOfRangeException();
}

