@inject IStringLocalizer<NavMenu> Loc

<div class="top-row navbar navbar-dark">
    <div class="container-fluid">
        <a href="dashboard">
            <img src="../tevling_logo.svg" alt="Tevling Logo" class="logo" />
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <i class="bi bi-list" aria-hidden="true"></i>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass flex-grow-1 px-4 pb-4" @onclick="ToggleNavMenu">
    <nav class="d-flex flex-column" style="height: 100%;">
        <div class="nav-item">
            <NavLink class="nav-link" href="dashboard">
                <i class="bi bi-columns-gap nav-icon me-2" aria-hidden="true"></i> @Loc["Dashboard"]
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="activities">
                <i class="bi bi-person-arms-up me-2" aria-hidden="true"></i> @Loc["Activities"]
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="statistics">
                <i class="bi bi-bar-chart me-2" aria-hidden="true"></i> @Loc["Statistics"]
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="challenges">
                <i class="bi bi-trophy-fill me-2" aria-hidden="true"></i> @Loc["Challenges"]
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="athletes">
                <i class="bi bi-people-fill me-2" aria-hidden="true"></i> @Loc["Athletes"]
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="profile">
                <i class="bi bi-person-circle me-2" aria-hidden="true"></i> @Loc["Profile"]
            </NavLink>
        </div>
        <div class="px-2">
            <hr class="divider">
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="about">
                <i class="bi bi-info-lg me-2" aria-hidden="true"></i> @Loc["About"]
            </NavLink>
        </div>
        <FeatureGate FeatureFlag="FeatureFlag.DevToolsMenuItem">
            <div class="nav-item">
                <NavLink class="nav-link" href="dev">
                    <i class="bi bi-mouse me-2" aria-hidden="true"></i> Dev
                </NavLink>
            </div>
        </FeatureGate>
        <div class="user-info d-flex flex-row align-items-center mt-auto mb-4 ms-2 px-1 pt-4 ">
            <a href="/profile" class="me-2 d-flex align-items-center">
                <Avatar AthleteId="@Athlete.Id" Size="35" />
            </a>
            @Athlete.Name
        </div>
        <DarkMode OnChange="OnThemeChange!" />
        <div class="strava-icon mt-4"></div>
    </nav>
</div>
