@if (Activity is not null)
{
    <div class="activity-card">
        <div class="activity-card-header">
            <div class="athlete-photo">
                <img src="@Activity.Athlete.ImgUrl" />
            </div>
            <div class="activity-card-header-content">
                <h5 class="activity-athlete">@Activity.Athlete.Name</h5>
                <p class="activity-time">@Activity.Details.StartDate</p>
            </div>
        </div>
        <div class="activity-card-body">
            <div class="activity-icon">
                @Activity.Details.Type
            </div>
            <div class="activity-card-body-content">
                <h4 class="activity-title">@Activity.Details.Name</h4>
                <p class="activity-title">@Activity.Details.Description</p>
            </div>
        </div>
    </div>
}

@using Spur.Model

@code {
    [Parameter]
    public Activity? Activity { get; set; }
}
